In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Barrow,71.2906,-156.7887,-0.38,78,90,5.75,US,2021-11-23 18:01:26
1,1,Bethel,41.3712,-73.4140,42.48,50,7,3.00,US,2021-11-23 18:01:26
2,2,Tasiilaq,65.6145,-37.6368,23.16,62,64,8.12,GL,2021-11-23 18:01:27
3,3,Chegutu,-18.1302,30.1407,70.25,81,87,6.49,ZW,2021-11-23 18:01:27
4,4,Klaksvik,62.2266,-6.5890,47.32,86,98,25.46,FO,2021-11-23 18:01:28

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# heatmap of precent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# ask the customer to add a minimum and maximum temp value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,Atuona,-9.8000,-139.0333,77.47,79,71,15.05,PF,2021-11-23 18:01:28
6,6,Ambilobe,-13.2000,49.0500,76.48,81,64,3.40,MG,2021-11-23 18:01:28
13,13,Hithadhoo,-0.6000,73.0833,82.27,75,99,18.34,MV,2021-11-23 18:01:31
22,22,Rikitea,-23.1203,-134.9692,76.14,82,5,14.72,PF,2021-11-23 18:01:34
25,25,Luangwa,-15.6167,30.4167,83.25,60,67,4.41,ZM,2021-11-23 18:01:35
26,26,Axim,4.8699,-2.2405,80.37,82,62,7.65,GH,2021-11-23 18:01:35
46,46,Gizo,-8.1030,156.8419,82.80,77,94,8.84,SB,2021-11-23 18:02:42
48,48,Mana,5.6592,-53.7767,83.01,75,62,9.26,GF,2021-11-23 18:02:43
51,51,Atar,20.5169,-13.0499,89.49,23,79,9.51,MR,2021-11-23 18:02:44
55,55,Sao Jose Da Coroa Grande,-8.8978,-35.1478,84.67,63,50,11.83,BR,2021-11-23 18:02:45

In [27]:
preferred_cities_df.count()

City_ID       155
City          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
Country       155
Date          155
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp      Lat       Lng Hotel Name
5                     Atuona      PF     77.47  -9.8000 -139.0333
6                   Ambilobe      MG     76.48 -13.2000   49.0500
13                 Hithadhoo      MV     82.27  -0.6000   73.0833
22                   Rikitea      PF     76.14 -23.1203 -134.9692
25                   Luangwa      ZM     83.25 -15.6167   30.4167
26                      Axim      GH     80.37   4.8699   -2.2405
46                      Gizo      SB     82.80  -8.1030  156.8419
48                      Mana      GF     83.01   5.6592  -53.7767
51                      Atar      MR     89.49  20.5169  -13.0499
55  Sao Jose Da Coroa Grande      BR     84.67  -8.8978  -35.1478

In [49]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError, NewError):
        print("Hotel not found... skipping.")

In [50]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Atuona,PF,77.47,-9.8000,-139.0333,Villa Enata
6,Ambilobe,MG,76.48,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
13,Hithadhoo,MV,82.27,-0.6000,73.0833,Scoop Guest House
22,Rikitea,PF,76.14,-23.1203,-134.9692,People ThankYou
25,Luangwa,ZM,83.25,-15.6167,30.4167,Gerasimos Safari Lodge
26,Axim,GH,80.37,4.8699,-2.2405,Axim Beach Resort And Spa
46,Gizo,SB,82.80,-8.1030,156.8419,Imagination Island
48,Mana,GF,83.01,5.6592,-53.7767,LE SAMANA
51,Atar,MR,89.49,20.5169,-13.0499,Oumou Elghoura
55,Sao Jose Da Coroa Grande,BR,84.67,-8.8978,-35.1478,Crôa Mares Hotel

In [51]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [57]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [61]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [62]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))